.dish {
    width: 60%;
    height: auto;
}

.dishContainer {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.dishes {
    height: 64px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    font-weight: bold;
    font-size: 32px;
    color: white;
    list-style: none;
}

.price {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.dishCard {
    width: 480px;
    height: auto;
    margin: 20px 20px 20px 20px;
    background-color: #1c1c1c;
    border-radius: 20px;
    text-align: center;
    display: block;
}

.viewMenu {
    padding-top: 10px;
    font-weight: bold;
    font-size: 32px;
    color: #FFF6C6;
    height: 80px;
}

.popularPage {
    position: absolute;
    display: block;
    top: 0;
    margin-top: 100vh;
    height: auto;
    width: 100%;
    gap: 120px;
    justify-content: center;
    background-color: #2E2E2E;
}

.popularTitle {
    padding-top: 80px;
    font-weight: bold;
    font-size: 64px;
    color: white;
    text-align: center;
}

.background {
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background-attachment: fixed;
    background-position: center 50%;
    background-image: url('/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(55%)
}

.logoContainer {
    margin-top: 20px;
    text-align: center;
}

.logo {
    margin: 0 auto;
    width: 160px;
    height: 160px;
}

@media only screen and (max-width: 1240px) {
    .dishContainer {
        display: block;
    }

    .popularTitle {
        font-size: 48px;
    }

    .logoContainer {
        margin-top: 80px;
    }

    .popularTitle {
        font-size: 32px;
    }

    .dish {
        width: 70%;
        height: auto;
    }

    .dishCard {
        margin: 10%;
        width: auto;
        height: auto;
    }

    .dishes {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .popularTitle {
        font-size: 32px;
    }

    .dishes {
        padding-top: 20px;
    }
}