.dish {
    width: 200px;
    height: 200px;
    background-color: rgb(253, 250, 247);
    border-radius: 30px;
}

.background {
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(55%)
}

.logoContainer {
    margin-top: 20px;
    text-align: center;
}

.logo {
    width: 160px;
    height: 160px;
}

.mainTextContainer {
    margin-top: 24px;
    text-align: center;
}

.mainText {
    color: #FFF6C6;
    font-size: 64px;
    font-weight: bold;
}

@media only screen and (max-width: 860px) {
    .mainText {
        font-size: 32px;
    }

    .mainTextContainer {
        margin-top: 0px;
    }
}