@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}

:root {
    --main-text-color: #FFF6C6;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}