.listContainer {
    display: none;
}

@media only screen and (max-width: 860px) {
    .listContainer {
        display: block;
        position: absolute;
        margin: 64px 0 0 0;
        background-color: black;
        width: 100%;
    }
    
    .list {
        list-style: none;
        display: block;
        gap: 80px;
    }
    
    .text {
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        position: relative;
        font-size: 20px;
        color: #fff6f6;
        font-weight: bold;
        cursor: pointer;
    }
}